<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myapp.dao.MemberDao">
	
	
	<select id="findById" parameterType="string" resultType="Member">
		select *
		from tbl_member
		where member_id=#{id}
	</select>
	
	<select id="findIdByPrimaryId" parameterType="int" resultType="Member">
		select member_id
		from tbl_member
		where primary_id=#{primaryId}
	</select>
	
	
	<select id="getPasswordByPrimaryId" parameterType="int" resultType="Member">
		select password
		from tbl_member
		where primary_id=#{primaryId}
	</select>
	
	<select id="doubleCheckId" parameterType="string" resultType="int">
		select count(name)
		from tbl_member
		where member_id=#{inputId}
	</select>
	
	<update id="update" parameterType="Member">
		update tbl_member
		set member_id=#{memberId} , password=#{password}
		where primary_id=#{primaryId}
	</update>
	
</mapper>