<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<!-- Caused by: java.sql.SQLNonTransientConnectionException: Public Key Retrieval is not allowed -->
		<property name="url" value="jdbc:mysql://localhost/spring_mybatis?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;characterEncoding=utf8&amp;serverTimezone=UTC"/>
		
		<property name="username" value="root"/>
		<property name="password" value="1234"/>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis-config.xml"/>
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="myapp.dao.UserDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/> 
	</bean>
	
	<bean id="userService" class="myapp.service.impl.UserServiceImpl">
		<property name="userDao" ref="userMapper"/>
	</bean>
</beans>